[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/opt/odoo/v12/odoo-server/odoo-bin --config /etc/odoo-12.conf --logfile /var/log/odoo/odoo-12.log
KillMode=mixed

[Install]
WantedBy=multi-user.target

